.footer {
    background-color: #363946;
    color: white;
    padding: 0 150px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            gap: 15px;
            width: auto;
            text-decoration: none;

            a {
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;

                .hospital-icon {
                    font-size: 2.8rem;
                    color: white;
                }

                .hospital-name {
                    margin: 10px 0 10px 10px;
                    font-size: 1.8rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    white-space: nowrap;
                }
            }
        }

        .footer-info {
            margin-bottom: 10px;

            h4 {
                font-size: 1rem;
                margin-top: 20px;
            }

            p {
                font-size: 1rem;
                color: #9B9CA3;
                margin: 5px;

                strong {
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }
}