.footer {
    background-color: #363946;
    color: white;
    padding: 0 150px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-logo {
            width: 200px;

            img {
                width: 100%;
            }
        }

        .footer-info {
            margin-bottom: 10px;

            h4 {
                font-size: 1rem;
                margin: 20px 0 0 0;
            }

            p {
                font-size: 1rem;
                color: #9B9CA3;
                margin: 5px;

                strong {
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }
}