.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 90px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;


    .logo {
        display: flex;
        align-items: center;
        gap: 15px;
        width: auto;
        text-decoration: none;

        a {
            text-decoration: none;
            color: #0d6efd;
            display: flex;
            align-items: center;

            .hospital-icon {
                font-size: 2.8rem;
                color: #0d6efd;
            }

            .hospital-name {
                margin: 10px 0 10px 10px;
                font-size: 1.8rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                white-space: nowrap;
            }
        }
    }

    .nav-menu {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 20px;
        text-transform: uppercase;

        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            margin: 0;
            padding: 0;

            li {
                a {
                    text-decoration: none;
                    color: #333;
                    font-size: 1rem;
                    font-weight: 500;
                    position: relative;
                    transition: color 0.3s ease;


                    &:hover {
                        color: #0d6efd;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        width: 0;
                        height: 2px;
                        background-color: #0d6efd;
                        transition: width 0.3s ease;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 15px;

        .hotline {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: #333;

            strong {
                color: red;
                margin-left: 5px;
            }
        }

        .auth-links {
            display: flex;
            justify-content: center;
            align-items: center;

            .user-icon {
                font-size: 0.9rem;
                color: #0d6efd;
                border: solid 1px #0d6efd;
                padding: 5px;
                border-radius: 50%;
                align-items: center;
            }


            .user-info {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;

                .user-name {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #0d6efd;
                    margin-left: 10px;
                }

                .logout-button {
                    height: 40px;
                    line-height: 40px;
                    display: none;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    right: 0;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
                    background-color: white;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    color: #333;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                &:hover .logout-button {
                    display: inline-block;
                    z-index: 1000;
                }

            }


            a {
                text-decoration: none;
                color: #333;
                font-size: 1rem;

                &:hover {
                    text-decoration: underline;
                }

            }

            .login {
                font-weight: bold;
                color: #0d6efd;
            }

            span {
                margin: 0 5px;
                color: gray;
            }
        }
    }
}