.specialty-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;

    .specialty-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .specialty-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            margin-right: 20px;
            border: 2px solid #ddd;
        }

        .specialty-info {
            flex: 1;

            .specialty-name {
                font-size: 28px;
                color: #2a2a2a;
                margin-bottom: 10px;
            }

            .specialty-description {
                font-size: 16px;
                color: #555;
                line-height: 1.6;
            }
        }
    }

    .additional-info {
        margin-top: 30px;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        h3 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            color: #555;
            line-height: 1.6;
        }
    }

    .error-message {
        text-align: center;
        font-size: 18px;
        color: red;
        padding: 20px;
    }


    .doctor-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;
        padding-right: 10px;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #0d6efd;
            border-radius: 5px;
        }
    }

    .doctor-card {
        margin: 0 10%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        .doctor-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }

        .doctor-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .doctor-name {
                font-size: 1.8rem;
                margin: 0;
                color: #333;
            }

            .doctor-specialty {
                font-size: 1.2rem;
                color: #777;
                margin: 5px 0 20px;
            }

            .detail-button {
                padding: 10px 20px;
                font-size: 1rem;
                background-color: #075BB5;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0d6efd;
                }
            }
        }
    }

    .no-results {
        font-size: 1.2rem;
        color: #555;
    }
}